.end{
    text-align: center;
    padding: 6em;
    font-size: 0.9em;
    color: darkgray;
    background-color: rgb(22, 22, 22);
    .endButton{
        color: darkgray;
        text-decoration: none;
    }
    .endButton:hover{
        color: white;
        transition: 300ms;
    }
}