.video{
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    bottom: 0%;
}

.main1{
    position: fixed;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns:20vw 35vw 30vw 17vw;
    grid-template-rows: 20vh 50vh 26vh;

    .main1title{
        font-size: 4em;
        padding-left: 0.1em;
        }

        .main1text{
            grid-row: 2;
            grid-column: 3;
            padding: 18em 4em 0em 2em;
        }

        .main1image{
            grid-row: 2;
            grid-column: 2;
            align-self: center;
            padding-top: 1em;
            .img{
                width: 30vw;
            }
    }
}

.main1sidetext{
    grid-row: 2;
    transform: rotate(-90deg);
    align-self: center;
    padding-top: 23em;
}


