.text{
    font-size: 1.4em; 
}
.image{
    height: 105vh;
    width: 100%;
}



        .videoContainer{
            width: 100vw;
            right: 0%;
            bottom: 0%;
            .video{
                position: absolute;
                width: 100%; 
                height: 100vh;
                object-fit: cover;
            }
        }

        .main1{
            height: 100vh;
            width: 100%;
            position: relative;
            background-color: rgba(14, 14, 14, 0.5);
            display: grid;
            grid-template-columns: 20% 34% 46%;
            grid-template-rows: 15vh 75vh 10vh;

            .main1title{
                grid-column: 3;
                grid-row: 2;
                padding: 21vh 25vw 4em 0em;
                font-size: 5em;
            }

            #main1text{
                grid-column: 3;
                grid-row: 2;
                padding: 30vh 25vw 4em 0em;
            }

            .main1image{
                grid-column: 2;
                grid-row: 2;
                padding: 5vh 0vw 20vh 0vw;
                .image1{
                    height: 150%;
                    object-fit: cover;
                }
            }
            #main1sidetext{
                grid-column: 1;
                grid-row: 2;
                padding: 55vh 0vw 0vh 2vw;
                transform: rotate(-90deg);
            }
        }

.main2{
    height: 105vh;
    display: flex;
    max-width: 100;
    .main2container1{
        width: 52%;
        height: auto;
    }

    .main2container2{
        width: 48%;
        .main2title{
            padding: 35vh 0vw 0vh 0vw;
            text-align: center;
            font-size: 3em;
        }
        #main2text{
            padding: 1vh 12vw 0vh 12vw;

            text-align: center;
        }
    }
}

.main3{
    height: 105vh;
    max-width: 100%;
    display: flex;
    .main3container1{
        width: 46%;
        #main3title{
            padding: 35vh 0vw 0vh 0vw;
            text-align: center;
            font-size: 2.5em;
        }
        #main3text{
            padding: 2vh 12vw;
            text-align: center;
        }
    }
    .main3container2{
        width: 54%;
    }
}