.main1{
    padding-top: 1em;
    display: grid;
    grid-template-columns: (30vw 20vw 40vw);
    grid-template-rows: 10vh 2vh 50vh 40vh;
    background-repeat: no-repeat;
    height: 95.5vh;
}

.main1title{
    color: rgb(255, 255, 255);
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-size: 5em;
}

.main1text{
    color: white;
}
.img{
    grid-row: 3;
    grid-column: 2;
    background-image: url(/images/Eclipse-Hero-1.webp);
    background-size:40vh;
    background-repeat: no-repeat;
    background-position: center;
    
}
