.mainContainer{
    position: relative;
    height: 100vh;
    display: flex;
    
        .videoContainer{
            width: 100vw;
            right: 0%;
            bottom: 0%;
            .video{
                position: absolute;
                width: 100%; 
                height: 100vh;
                object-fit: cover;
            }
        }

        .main1{
            height: 100vh;
            width: 100%;
            position: absolute;
            background-color: rgba(14, 14, 14, 0.5);
            color: white;
            display: grid;
            grid-template-columns: 20vw 34vw 45vw;
            grid-template-rows: 15vh 75vh 10vh;

            .main1title{
                grid-column: 3;
                grid-row: 2;
                padding: 21vh 25vw 4em 0em;
                font-size: 5em;
            }

            .main1text{
                grid-column: 3;
                grid-row: 2;
                padding: 30vh 25vw 4em 0em;
                font-size: 1.4em;
            }

            .main1image{
                grid-column: 2;
                grid-row: 2;
                padding: 5vh 0vw 20vh 0vw;
                .image1{
                    height: 75vh;
                }
            }
            .main1sidetext{
                grid-column: 1;
                grid-row: 2;
                padding: 50vh 2vw 0vh 4vw;
                transform: rotate(-90deg);
                font-size: 1.2em;
            }
        }
}

.main2{
    height: 100vh;
    display: flex;
    .main2container1{
        width: 52%;
        .image2{
            height: 102vh;
        }
    }

    .main2container2{
        width: 48%;
        .main2title{
            padding: 35vh 0vw 0vh 0vw;
            text-align: center;
            font-size: 3em;
        }
        .main2text{
            padding: 1vh 12vw 0vh 12vw;
            font-size: 1.3em;
            text-align: center;
        }
    }
}