.navContainer{
    padding-top: 1vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 2;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    text-decoration: none;
    padding: 1vh 4vw;
    border-radius: 1em;
    font-size: 1.7em;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    transition: 900ms;
    padding: 1vh 4.4vw;
} 