.navContainer{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.nav{
    display: flex;
    justify-content: center;
}

.button{
    color: white;
    text-decoration: none;
    padding: 1vh 2vw;
    border-radius: 1em;
    font-size: 1.3em;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    transition: 500ms;
    padding: 1vh 2.1vw;
} 