*{
    padding: 0%;
    margin: 0%;
    color: white;
    scrollbar-color: rgb(26, 24, 24) rgb(40, 40 ,40);        
}

body{
    background-color: rgb(39, 39, 39)
}




@import "nav";
@import "main";
@import "end";