*{
    padding: 0%;
    margin: 0%;
    color: white;
    scrollbar-color: rgb(26, 24, 24) rgb(40, 40 ,40);    
    box-sizing: border-box;    
}

body{
    background-color: rgb(39, 39, 39)
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 66%;
    }
    body .text{
        text-align: center;
        font-size: 1.7em;
    }

    body .main1{
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows:7vh 50vh 43vh;
        .main1title{
            text-align: center;
            grid-column: 2;
            grid-row: 3;
            padding: 2vh 0vw 0vh 0vw;
            font-size: 5em;
        }
        #main1text{
            grid-column: 2;
            grid-row: 3;
            padding: 12vh 0vw 4vh 0vw;
        }
        #main1sidetext{
            grid-column: 2;
            grid-row: 2;
            padding: 3vh 0vw 0vh 2vw;
            transform: rotate(0deg);
        }
        .main1image{
            .image1{
                height: 180%;
                display:block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
}
@import "nav";
@import "main"; 
@import "end";