*{
    padding: 0%;
    margin: 0%;
    color: white;
    scrollbar-color: rgb(26, 24, 24) rgb(40, 40 ,40);    
    box-sizing: border-box;    
}

body{
    background-color: rgb(39, 39, 39)
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 67%;
    }
    .main1{
        grid-template-columns: repeat(10% 1fr 10%);
        #main1text{
            padding: 0vh 0vw;
            text-align: center;
        }
        .image1{
            width: 100%;
            object-fit: cover;
        }
    }
    .main3{
        flex-direction:column-reverse;
        .main3container1{
            width: 100%;
            #main3title{
                padding: 5%;
                font-size: 1.3em;
            }
            #main3text{
                padding: 5%;
                font-size: 1em;
            }
        }
        .main3container2{
            width: 100%
        }

    }
}
@import "nav";
@import "main"; 
@import "end";