*{
    padding: 0%;
    margin: 0%;
    color: white;
    scrollbar-color: rgb(26, 24, 24) rgb(40, 40 ,40);    
}

body{
    background-color: rgb(39, 39, 39)
}

@media screen and (max-width: 600px) {
    html{
        font-size: 66%;
    }
    body .text{
        text-align: center;
        font-size: 1.7em;
    }

    body .image{
        width: 100vw;
        height: 50vh;
    }

    body .main1{
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows:7vh 50vh 40vh;
        .main1title{
            text-align: center;
            grid-column: 2;
            grid-row: 3;
            padding: 2vh 0vw 0vh 0vw;
            font-size: 5em;
        }
        #main1text{
            grid-column: 2;
            grid-row: 3;
            padding: 12vh 0vw 20vh 0vw;
        }
        #main1sidetext{
            grid-column: 2;
            grid-row: 2;
            padding: 3vh 0vw 0vh 13vw;
            transform: rotate(0deg);
            margin: 0%;
        }
        .main1image{
            .image1{
                object-fit: contain;
                width: 70%;
                height: 180%;
                display:block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
    body .main2{
        flex-direction: column;
        .main2container1{
            width: 100%;
            height: 15vh;
        }
    
        .main2container2{
            width: 100%;
            margin-top: 20%;
            .main2title{
                text-align: center;
                font-size: 5em;
            }
            #main2text{
                text-align: center;
            }
        }
    }

    body .main3{
        flex-direction: column-reverse;
        .main3container1{
            width: 100%;
            margin-top: 20%;
            margin-bottom: auto;
            #main3title{
                padding: 0%;
            }
        }
        .main3container2{
            width: 100%;
        }
    }
    body .end{
        font-size: 1.3rem;
    }
}

@media screen and  (max-width: 1024px) and (min-width:600px) {
    body .image{
        width: 100vw;
        height: 60vh;
    }
    body .main1{
        grid-template-columns: repeat(2, 50vw);
            .main1image{
                grid-column: 1;
                .image1{
                    margin-right: auto;
                    margin-left: auto;
                    width: 50vw;
                    height: auto
                }
            }
            .main1title{
                text-align: center;
                grid-column: 2;
                grid-row: 2;
                font-size: 5em;
            }
            #main1text{
                grid-column: 2;
                grid-row: 2;
                padding: 1vh 3vw;
                text-align: center;
            }
            #main1sidetext{
               padding-bottom: 5vw;
               grid-column: 2;
               transform: rotate(0deg);
            }
    }
    body .main2{
        flex-direction: column;
        .main2container1{
            width: 100%;
            height: 40vh;
        }
    
        .main2container2{
            width: 100%;
            .main2title{
                text-align: center;
                font-size: 5em;
            }
            #main2text{
                text-align: center;
            }
        }
    }

    body .main3{
        flex-direction: column-reverse;
        .main3container1{
            width: 100%;
            margin-top: 15%;
            margin-bottom: auto;
            #main3title{
                padding: 0%;
                font-size: 4em;
            }
        }
        .main3container2{
            width: 100%;
        }
    }
}
@import "nav";
@import "main"; 
@import "end";